<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siam_ansary.austgpacalculator00">

    <application
        android:allowBackup="true"
        android:icon="@drawable/aust"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutUS" />
        <activity android:name=".ArchiOneOne" />
        <activity android:name=".ArchitectureSemesters" />
        <activity android:name=".ArchiTwoOne" />
        <activity android:name=".GpaArch11" />
        <activity android:name=".HelpPage" />
        <activity android:name=".ArchiTwoTwo" />
        <activity android:name=".RecordPrint" />
        <activity android:name=".SelectDept" />
        <activity android:name=".Calculator" />
        <activity android:name=".BBASemesters" />
        <activity android:name=".CivilSemesters" />
        <activity android:name=".CSESemesters" />
        <activity android:name=".IPESemesters" />
        <activity android:name=".EEESemesters" />
        <activity android:name=".TEXSemesters" />
        <activity android:name=".MESemesters" />
        <activity android:name=".ArchiOneTwo" />
        <activity android:name=".ArchiThreeOne" />
        <activity android:name=".ArchiThreeTwo" />
        <activity android:name=".ArchiFiveOne" />
        <activity android:name=".ArchiFourOne" />
        <activity android:name=".ArchiFourTwo" />
        <activity android:name=".ArchiFiveTwo" />
        <activity android:name=".GpaArch12" />
        <activity android:name=".RecordOption" />
        <activity android:name=".DeleteRecords" />
        <activity android:name=".GpaArch21" />
        <activity android:name=".GpaArch22" />
        <activity android:name=".GpaArch31" />
        <activity android:name=".GpaArch32" />
        <activity android:name=".BBAOneOne" />
        <activity android:name=".BBAOneTwo" />
        <activity android:name=".BBATwoOne" />
        <activity android:name=".BBATwoTwo" />
        <activity android:name=".BBAThreeOne" />
        <activity android:name=".BBAThreeTwo" />
        <activity android:name=".BBAFourOne" />
        <activity android:name=".BBAFourTwo" />
        <activity android:name=".GpaArch41" />
        <activity android:name=".GpaArch42" />
        <activity android:name=".GpaArch51" />
        <activity android:name=".GpaArch52" />
        <activity android:name=".GpaBBA11" />
        <activity android:name=".GpaBBA12" />
        <activity android:name=".GpaBBA21" />
        <activity android:name=".GpaBBA22" />
        <activity android:name=".GpaBBA31" />
        <activity android:name=".GpaBBA32" />
        <activity android:name=".GpaBBA41" />
        <activity android:name=".GpaBBA42" />
        <activity android:name=".CivilOneOne" />
        <activity android:name=".CivilTwoOne" />
        <activity android:name=".CivilThreeOne" />
        <activity android:name=".CivilFourOne" />
        <activity android:name=".CivilOneTwo" />
        <activity android:name=".CivilTwoTwo" />
        <activity android:name=".CivilThreeTwo" />
        <activity android:name=".CivilFourTwo" />
        <activity android:name=".GpaCivil11" />
        <activity android:name=".GpaCivil12" />
        <activity android:name=".GpaCivil21" />
        <activity android:name=".GpaCivil22" />
        <activity android:name=".GpaCivil31" />
        <activity android:name=".GpaCivil32" />
        <activity android:name=".GpaCivil41" />
        <activity android:name=".GpaCivil42" />
        <activity android:name=".EEEOneOne" />
        <activity android:name=".EEEOneTwo" />
        <activity android:name=".EEETwoOne" />
        <activity android:name=".EEETwoTwo" />
        <activity android:name=".EEEThreeOne" />
        <activity android:name=".EEEThreeTwo" />
        <activity android:name=".EEEFourOne" />
        <activity android:name=".EEEFourTwo" />
        <activity android:name=".GpaEEE11" />
        <activity android:name=".GpaEEE12" />
        <activity android:name=".GpaEEE21" />
        <activity android:name=".GpaEEE22" />
        <activity android:name=".GpaEEE31" />
        <activity android:name=".GpaEEE32" />
        <activity android:name=".GpaEEE41" />
        <activity android:name=".GpaEEE42" />
        <activity android:name=".IPEOneOne" />
        <activity android:name=".IPEOneTwo" />
        <activity android:name=".IPETwoOne" />
        <activity android:name=".IPETwoTwo" />
        <activity android:name=".IPEThreeOne" />
        <activity android:name=".IPEThreeTwo" />
        <activity android:name=".IPEFourOne" />
        <activity android:name=".IPEFourTwo" />
        <activity android:name=".GpaIPE11" />
        <activity android:name=".GpaIPE12" />
        <activity android:name=".GpaIPE21" />
        <activity android:name=".GpaIPE22" />
        <activity android:name=".GpaIPE31" />
        <activity android:name=".GpaIPE32" />
        <activity android:name=".GpaIPE41" />
        <activity android:name=".GpaIPE42" />
        <activity android:name=".MEOneOne" />
        <activity android:name=".MEOneTwo" />
        <activity android:name=".METwoOne" />
        <activity android:name=".METwoTwo" />
        <activity android:name=".METhreeOne" />
        <activity android:name=".METhreeTwo" />
        <activity android:name=".MEFourOne" />
        <activity android:name=".MEFourTwo" />
        <activity android:name=".GpaME11" />
        <activity android:name=".GpaME12" />
        <activity android:name=".GpaME21" />
        <activity android:name=".GpaME22" />
        <activity android:name=".GpaME31" />
        <activity android:name=".GpaME32" />
        <activity android:name=".GpaME41" />
        <activity android:name=".GpaME42" />
        <activity android:name=".TEXOneOne" />
        <activity android:name=".TEXOneTwo" />
        <activity android:name=".TEXTwoOne" />
        <activity android:name=".TEXTwoTwo" />
        <activity android:name=".TEXThreeOne" />
        <activity android:name=".TEXThreeTwo" />
        <activity android:name=".TEXFourOne" />
        <activity android:name=".TEXFourTwo" />
        <activity android:name=".GpaTEX11" />
        <activity android:name=".GpaTEX12" />
        <activity android:name=".GpaTEX21" />
        <activity android:name=".GpaTEX22" />
        <activity android:name=".GpaTEX31" />
        <activity android:name=".GpaTEX32" />
        <activity android:name=".GpaTEX41" />
        <activity android:name=".GpaTEX42" />
        <activity android:name=".CSEOneOne" />
        <activity android:name=".CSEOneTwo" />
        <activity android:name=".CSETwoOne" />
        <activity android:name=".CSETwoTwo" />
        <activity android:name=".CSEThreeOne" />
        <activity android:name=".CSEThreeTwo" />
        <activity android:name=".CSEFourOne" />
        <activity android:name=".CSEFourTwo" />
        <activity android:name=".GpaCSE11" />
        <activity android:name=".GpaCSE12" />
        <activity android:name=".GpaCSE21" />
        <activity android:name=".GpaCSE22" />
        <activity android:name=".GpaCSE31" />
        <activity android:name=".GpaCSE32" />
        <activity android:name=".GpaCSE41" />
        <activity android:name=".GpaCSE42" />
        <activity android:name=".MainMenu"></activity>
    </application>

</manifest>